body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.todo {
  margin: 0px;
  border: 1px black solid;
  width: 500px;
  display : flex;
  flex-direction: column;
  align-items: center;
}


.inputArea {
  width: 400px;
  height: 40px;
  display: flex;
}

.inputArea input:focus {outline:none;}

.inputArea input {
  box-sizing: border-box;
  width: 350px;
  height: 40px;
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
  font-size: 20px;
  border : 0;
  color : white;
  background-color: rgb(176, 176, 176);
}

.inputArea div {
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
  color: white;
  line-height: 40px;
  text-align: center;
  width: 50px;
  background-color: rgb(176, 176, 176);
  height: 40px;
  border : 0;
}

.list {
  width: 400px;
  height: 40px;
  display: flex;
  list-style: none;
}

.list span{
  display: inline-block;
  width: 350px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-bottom: 1px gray solid; 
}

.list div {
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border : 0;
  color: red;
}

ul {
  padding-inline-start: 0;
}